
.date-picker{
    -jfx-default-color:BLACK
}

.time-picker{
    -jfx-default-color:BLACK
}

.jfx-check-box{
    -jfx-checked-color:BLACK
}


.jfx-button {
    -fx-background-color: #000000;
    -fx-text-fill: white;
}

.jfx-button .jfx-rippler{
    -jfx-rippler-fill:RED;
}