.root{
    text-color: white;
    controller-color: black;
    background-color: white;
    rippler-color: red;
    secound-color: #B0B0B0;
}

.scroll-pane:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.scroll-pane {
    -fx-box-border: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: background-color;
}

.jfx-date-picker{
    -jfx-default-color:controller-color;
}

.jfx-time-picker{
    -jfx-default-color:controller-color;
}

.jfx-check-box{
    -jfx-checked-color:controller-color;
    -jfx-unchecked-color: secound-color;
}


.jfx-button {
    -fx-background-color: controller-color;
    -fx-text-fill: text-color;
}

.jfx-button .jfx-rippler{
    -jfx-rippler-fill:rippler-color;
}

#borderPane {
    -fx-background-color: background-color ;
}

#anchorPane {
    -fx-background-color: background-color ;
}

.list-view .list-cell:even {
    -fx-background-color: background-color;
    -fx-text-fill: text-color;
}
.list-view .list-cell:odd {
    -fx-background-color: secound-color;
    -fx-text-fill: text-color;
}