.scroll-pane:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.scroll-pane {
    -fx-box-border: transparent;

}

.jfx-button {
    -fx-background-color: #000000;
    -fx-text-fill: white;
}

.jfx-button .jfx-rippler{
    -jfx-rippler-fill:RED;
}

.date-picker{
    -jfx-default-color:BLACK
}